version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
      - "9999:9999"
    volumes:
      - .:/app
      - media_volume:/app/media
    env_file:
      - .env
volumes:
  media_volume: